<div class="column-two-thirds">
	<h1 class="heading-xlarge">GOV.UK PaaS pricing</h1>

	<p>Pay for what you use above the minimum for each tier. Above the minimum fee, normal billing by the hour applies until the tier upper limits.</p>

	<p>You can increase or decrease your compute capacity depending on the demands of your application and only pay the specified hourly rate for the instances you use.</p>

	<p>Estimate your monthly bill using the examples below. These show the maximum you would pay using all the available plans.
	</p>
</div>