{% extends "layout-paas.html" %}

{% block content %}
<main id="main" role="main">
  <div class="container">

    <h1 class="heading-xlarge">Service plans</h1>

    <table>
      <thead>
        <tr>
          <th scope="col"></th>
          <th class="numeric" scope="col">Free</th>
          <th class="numeric" scope="col">Small</th>
          <th class="numeric" scope="col">Big</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <th scope="row">Memory</th>
          <td class="numeric">1Gb RAM</td>
          <td class="numeric">6Gb RAM</td>
          <td class="numeric">24Gb RAM</td>
        </tr>
        <tr>
          <th scope="row">Postgres</th>
          <td class="numeric">Yes</td>
          <td class="numeric">Yes</td>
          <td class="numeric">Yes</td>
        </tr>
        <tr>
          <th scope="row">Logit</th>
          <td class="numeric">&mdash;</td>
          <td class="numeric">Yes</td>
          <td class="numeric">Yes</td>
        </tr>
        <tr>
          <th scope="row">Redis</th>
          <td class="numeric">&mdash;</td>
          <td class="numeric">&mdash;</td>
          <td class="numeric">Yes</td>
        </tr>
        <tr>
          <th scope="row">Mongo</th>
          <td class="numeric">&mdash;</td>
          <td class="numeric">&mdash;</td>
          <td class="numeric">Yes</td>
        </tr>
        <tr>
          <th scope="row">Elastic search</th>
          <td class="numeric">&mdash;</td>
          <td class="numeric">&mdash;</td>
          <td class="numeric">Yes</td>
        </tr>
        <tr>
          <th scope="row">RabbitMQ</th>
          <td class="numeric">&mdash;</td>
          <td class="numeric">&mdash;</td>
          <td class="numeric">Yes</td>
        </tr>
        <tr>
          <th scope="row">Scaling</th>
          <td class="numeric">&mdash;</td>
          <td class="numeric">Yes</td>
          <td class="numeric">Yes</td>
        </tr>
        <tr>
          <th scope="row">Out of office support</th>
          <td class="numeric">&mdash;</td>
          <td class="numeric">&mdash;</td>
          <td class="numeric">Yes</td>
        </tr>
        <tr>
          <th scope="row">Cost</th>
          <td class="numeric">FREE</td>
          <td class="numeric">£600</td>
          <td class="numeric">£4500</td>
        </tr>
      </tbody>
    </table>

  </div>
</main>
{% endblock %}