{% extends "layout-paas.html" %}

{% block content %}
<main id="main" role="main">
  <div class="container">

    <h1 class="heading-xlarge">Service plans</h1>

    <table>
      <thead>
        <tr>
          <th scope="col"></th>
          {% for plan in plans %}
          <th class="numeric" scope="col">{{ plan.title }}</th>
          {% endfor %}
        </tr>
      </thead>
      <tbody>
        <tr>
          <th scope="row">Memory</th>
          {% for plan in plans %}
          <td class="numeric">{{ plan['Memory'] }}</td>
          {% endfor %}
        </tr>
        <tr>
          <th scope="row">Postgres</th>
          {% for plan in plans %}
            {% if plan['Postgres'] is defined %}
            <td class="numeric">Yes</td>
            {% else %}
            <td class="numeric">&mdash;</td>
            {% endif %}
          {% endfor %}
        </tr>
        <tr>
          <th scope="row">Logit</th>
          {% for plan in plans %}
            {% if plan['Logit'] is defined %}
            <td class="numeric">Yes</td>
            {% else %}
            <td class="numeric">&mdash;</td>
            {% endif %}
          {% endfor %}
        </tr>
        <tr>
          <th scope="row">Redis</th>
          {% for plan in plans %}
            {% if plan['Redis'] is defined %}
            <td class="numeric">Yes</td>
            {% else %}
            <td class="numeric">&mdash;</td>
            {% endif %}
          {% endfor %}
        </tr>
        <tr>
          <th scope="row">Mongo</th>
          {% for plan in plans %}
            {% if plan['Mongo'] is defined %}
            <td class="numeric">Yes</td>
            {% else %}
            <td class="numeric">&mdash;</td>
            {% endif %}
          {% endfor %}
        </tr>
        <tr>
          <th scope="row">Elastic search</th>
          {% for plan in plans %}
            {% if plan['ElasticSearch'] is defined %}
            <td class="numeric">Yes</td>
            {% else %}
            <td class="numeric">&mdash;</td>
            {% endif %}
          {% endfor %}
        </tr>
        <tr>
          <th scope="row">RabbitMQ</th>
          {% for plan in plans %}
            {% if plan['RabbitMQ'] is defined %}
            <td class="numeric">Yes</td>
            {% else %}
            <td class="numeric">&mdash;</td>
            {% endif %}
          {% endfor %}
        </tr>
        <tr>
          <th scope="row">Scaling</th>
          {% for plan in plans %}
            {% if plan['Scaling'] is defined %}
            <td class="numeric">Yes</td>
            {% else %}
            <td class="numeric">&mdash;</td>
            {% endif %}
          {% endfor %}
        </tr>
        <tr>
          <th scope="row">Out of office support</th>
          {% for plan in plans %}
            {% if plan['oohs'] is defined %}
            <td class="numeric">Yes</td>
            {% else %}
            <td class="numeric">&mdash;</td>
            {% endif %}
          {% endfor %}
        </tr>
        <tr>
          <th scope="row">Cost</th>
          {% for plan in plans %}
          <td class="numeric">{{ plan['Cost'] }}</td>
          {% endfor %}
        </tr>
      </tbody>
    </table>

  </div>
</main>
{% endblock %}